


<h4>Ordenes Compras</h4>


    <form 
        class="form" 
        action="#" 
        name="form_socio" 
        id="form_socio">
                
            <div class="f-line">
                <div class="f-campo">
                    
                    <div class="bl-4">
                        <label for="sel_mes">Mes:</label> 
                    </div>
                    
                    <div class="bl-8">              
                        
                            <select name="sel_mes" id="archivoxls_sel_mes">   
                                
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                                
                            </select>                                
                                
                            
                    </div>
                </div>                                

                
                <div class="bl-8"></div>
                
                
                
                <div class="f-campo">
                    <div class="bl-4">
                        <label for="agno">Año:</label> 
                    </div>
                    

                    <div class="bl-6">
                        <input type="text" name="agno" id="agno" class="num">
                    </div>                    
                    
                </div>                                
            </div>                
                


        </form>






















