



<hr class="e20"/>


<article>
    

    <div class ="table-responsive-vertical">

            <table class="tableB" id="ordencompra-tabla">
              <thead>
                <tr>

                    <th class="ca-10">orden numero</th>
                    <th class="ca-20">fecha</th>
                    <th class="ca-30">socio</th>
                    <th class="ca-30">casa comercial</th>
                    <th class="ca-20">credito</th>
                    <th >Cuotas</th>
                    <th >Pagadas</th>
                    <th class="ca-20">Saldo</th>

                </tr>
              </thead>

              <tbody id="ordencompra-tb">

              </tbody>

              <tfoot>
                <tr>
                </tr>
              </tfoot>
            </table>
    </div>

    
        <hr class="e20"/>

        <div id="ordencompra_paginacion" class="pagination" >                            
        </div>
    
    
</article>



        <article id="ordencompra_acciones_lista">
            <pre></pre>
        </article>    

