
<article>
            <form
            class="form"
            action="#"
            name="form_socio"
            id="form_socio"                    
            >
            
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="socio">Socio:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="socio"
                            id="socio_socio"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cedula">Cedula:</label> 
                    </div>

                    <div class="bl-6">
                        <input                                                 
                            type="text"
                            name="cedula"
                            id="socio_cedula"
                            class="num" 
                            />
                    </div>
                    <div class="bl-4"></div>
                </div>    


                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre_apellido">Nombre y Apellido</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="nombre_apellido"
                            id="socio_nombre_apellido"
                            />
                    </div>
                </div>    
            </div>

                
                
                
                
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="telefono">Telefono:</label> 
                    </div>

                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="telefono"
                            id="socio_telefono"
                            />
                    </div>
                    <div class="bl-8"></div>
                </div>    

                <div class="f-campo">

                    <div class="bl-8">
                        <label for="celular">Celular:</label> 
                    </div>

                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="celular"
                            id="socio_celular"
                            />
                    </div>
                </div>    
            </div>


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="direccion_particular">Direccion particular:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="direccion_particular"
                            id="socio_direccion_particular"
                            />
                    </div>
                </div>    
            </div>

                
                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="direccion_laboral">Direccion laboral:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="direccion_laboral"
                            id="socio_direccion_laboral"
                            />
                    </div>
                </div>    
            </div>



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="dependencia">Dependencia:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="dependencia"
                            id="socio_dependencia"
                            />
                    </div>
                </div>    
            </div>

               

            <div class="f-line">
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="relacion_laboral">Relacion laboral:</label> 
                    </div>
                    
                    <div class="bl-14">
                            <select name="relacion_laboral" 
                                    id="socio_relacion_laboral"                                                                           
                                     >   
                            </select>      
                    </div>
                    <div class="bl-4"></div>
                </div>                   
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="ingreso_funcionario">Ingreso funcionario:</label> 
                    </div>

                    <div class="bl-10">
                        <input                                                 
                            type="date"
                            name="ingreso_funcionario"
                            id="socio_ingreso_funcionario"
                            />
                    </div>
                </div>    
            </div>

                
                
               

            <div class="f-line">
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="direccion_sueldo">Direccion de sueldos:</label> 
                    </div>
                    
                    <div class="bl-14">
                            <select name="direccion_sueldo" 
                                    id="socio_direccion_sueldo"                                                                           
                                     >   
                            </select>      
                    </div>
                    <div class="bl-4"></div>
                </div>                   
            </div>

                
                   
        
        <div class="f-line" id="divhabilitado">
            
            <div class="f-campo">
                <div class="bl-8">
                    <label for="habilitado">Habilitado:</label> 
                </div>

                
                
                <div class="bl-4">
                    <select name="habilitado" 
                            id="socio_habilitado"       
                            data-vista ="boolean"
                             >                           
                    </select>      
                </div>    
                
                <div class="bl-6"></div>
                
            </div>   
            
            
            <div class="f-campo">



                <div class="bl-8">
                    <label for="gestion_administrativa">Gestion administrativa:</label> 
                </div>

                <div class="bl-8">
                        <select name="gestion_administrativa" 
                                id="socio_gestion_administrativa"                                                                           
                                 >   
                        </select>      
                </div>
                <div class="bl-4"></div>

                
                
            </div>                
                        
            
        </div>
                                
                
                

        </form>

</article>

<article id="socio-acciones">
    <pre></pre>
</article>
                


<article id="socio-tabuladores">
    <pre></pre>
</article>
                







