
<div class ="table-responsive-vertical">

        <table class="tableB" id="socio-tabla">
          <thead>
            <tr>
                                
                <th class="ca-10">socio</th>
                <th class="ca-20">cedula</th>
                <th class="ca-30">nombre y apellido</th>
                <th class="ca-30">dependencia</th>
                <th class="ca-20">ingreso funcionario</th>
                
            </tr>
          </thead>

          <tbody id="socio-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="socio_paginacion" class="pagination" >                            
        </div>


        <hr class="e20"/>


        <article id="socio_acciones_lista">
            <pre></pre>
        </article>    

