
<div class ="table-responsive-vertical">

        <table class="tableB" id="serviciofijodescuento-tabla">
          <thead>
            <tr>
                <th class="ca-10">fecha</th>
                <th class="ca-30">servicio</th>
                <th class="ca-10">mes</th>
                <th class="ca-10">año</th>
                
            </tr>
            
          </thead>

          <tbody id="serviciofijodescuento-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="serviciofijodescuento_paginacion" class="pagination" >                            
        </div>


        <hr class="e20"/>


        <article id="serviciofijodescuento_acciones_lista">
            <pre></pre>
        </article>    

