

<h4>Ordenes expedidas por mes y año</h4>

<article>
            <form
            class="form"
            action="#"
            name="form_cab"
            id="form_cab"                    
            >
            
                
                                
        
            <div class="f-line">
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="casacomercial">Casa comercial:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="casacomercial"
                            id="cab_casacomercial"
                            class="num" 
                            data-foreign ="CasaComercial"
                            />
                    </div>
                    
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span class="icon-more-horizontal" id="ico-more-ordencompra_casacomercial" data-ind="0">                                    
                            </span>
                        </div>                        
                    </div>
                    
                    <div class="bl-20 out">      
                        <output 
                            id="casacomercial_descripcion" >
                        </output>
                    </div>                          
                    
                    
                </div>    

            </div>                    

                                

                
                
                
                                

                
                
            <div class="f-line">
                


                <div class="f-campo">

                    <div class="bl-8">
                        <label for="fecha">Fecha desde:</label> 
                    </div>

                    <div class="bl-8">
                        <input type="date" name="fecha" id="fecha_desde">
                    </div>
                    
                    <div class="bl-6"></div>
                </div>    

                

                <div class="f-campo">

                    <div class="bl-8">
                        <label for="fecha">Fecha hasta:</label> 
                    </div>

                    <div class="bl-8">
                        <input type="date" name="fecha" id="fecha_hasta">
                    </div>
                    
                    <div class="bl-2"></div>
                </div>    
                
                
            </div>                
                
                                         
                                
                                          
                          

                
                
                

        </form>

</article>


<article id="cab-acciones">
    <pre></pre>
</article>
                








