
<div class ="table-responsive-vertical">

        <table class="tableB" id="ordencompra-tabla">
          <thead>
            <tr>
                
                
                <th class="ca-10">ordencompra</th>
                <th class="ca-10">fecha pago</th>
                
                <th class="ca-10">socio</th>
                <th class="ca-30">nombres</th>
                
                
                
                <th class="ca-20">credito</th>                
                <th class="ca-20">cuotas</th>
                <th class="ca-20">nro cuota</th>
                <th class="ca-20">monto cuota</th>
                <th class="ca-20">saldo</th>
                
            </tr>
          </thead>

          <tbody id="ordencompra-tb">

          </tbody>

          <tfoot>
            <tr>
                <td colspan="4">TOTALES</td>                
                <td id="suma_credito" style="text-align: right">0</td>
                <td colspan="2"></td>
                <td id="suma_pagado" style="text-align: right">0</td>
                <td id="suma_saldo" style="text-align: right">0</td>
            </tr>
          </tfoot>
        </table>
</div>
    

        <hr class="e20"/>

        <div id="ordencompra_paginacion" class="pagination" >                            
        </div>


        <hr class="e20"/>


        <article id="ordencompra_acciones_lista">
            <pre></pre>
        </article>    

