
<article>
            <form
            class="form"
            action="#"
            name="form_cierremensual"
            id="form_cierremensual"                    
            >
            
                
                <input                                                 
                    type="hidden"
                    name="id"
                    id="cierremensual_id"
                    class="num" 
                    value="0"
                    />                
       
                
                                
                


                
            <div class="f-line">
                <div class="f-campo">
                    <div class="bl-6">
                        <label for="sel_mes">Mes:</label> 
                    </div>
                    
                    <div class="bl-8">              
                        
                            <select name="sel_mes" id="cierremensual_sel_mes">   
                                
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                                
                            </select>                                
                                
                            
                    </div>
                </div>                                
            </div>                
                
                
            <div class="f-line">
                <div class="f-campo">
                    <div class="bl-6">
                        <label for="agno">Año:</label> 
                    </div>
                    

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="agno"
                            id="cierremensual_agno"
                            class="num" 
                            />
                    </div>                    
                    
                </div>                                
            </div>                
                
                                         
                                
                


        </form>

</article>

<article id="cierremensual-acciones">
    <pre></pre>
</article>
                


<article id="cierremensual-tabuladores">
    <pre></pre>
</article>
                
