
<div class ="table-responsive-vertical">

        <table class="tableB" id="cierremensual-tabla">
          <thead>
            <tr>
                <th class="ca-10">fecha</th>
                <th class="ca-10">mes</th>
                <th class="ca-10">año</th>
                
            </tr>
            
          </thead>

          <tbody id="cierremensual-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="cierremensual_paginacion" class="pagination" >                            
        </div>


        <hr class="e20"/>


        <article id="cierremensual_acciones_lista">
            <pre></pre>
        </article>    

