

<h4>Pagos por mes y año</h4>

<article>
            <form
            class="form"
            action="#"
            name="form_cab"
            id="form_cab"                    
            >
            
                
                                
        
            <div class="f-line">
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="casacomercial">Casa comercial:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="casacomercial"
                            id="cab_casacomercial"
                            class="num" 
                            data-foreign ="CasaComercial"
                            />
                    </div>
                    
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span class="icon-more-horizontal" id="ico-more-ordencompra_casacomercial" data-ind="0">                                    
                            </span>
                        </div>                        
                    </div>
                    
                    <div class="bl-20 out">      
                        <output 
                            id="casacomercial_descripcion" >
                        </output>
                    </div>                          
                    
                    
                </div>    

            </div>                    

                                

                
                
            <div class="f-line">
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="sel_mes">Mes:</label> 
                    </div>
                    
                    <div class="bl-8">             
                            <select name="sel_mes" id="sel_mes">   
                                
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                                
                            </select>                  
                    </div>
                    
                    <div class="bl-4"></div>
                </div>                                


                <div class="f-campo">
                    <div class="bl-4">
                        <label for="agno">Año:</label> 
                    </div>
                    

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="agno"
                            id="agno"
                            class="num" 
                            />
                    </div>                    
                    
                </div>                                
            </div>                
                
                                         
                                
                          

                
                
                

        </form>

</article>


<article id="cab-acciones">
    <pre></pre>
</article>
                








