
<div class ="table-responsive-vertical">

        <table class="tableB" id="ordencompra-tabla">
          <thead>
            <tr>
                                
                <th class="ca-10">codigo</th>
                <th class="ca-30">Casa comercial</th>
                
                <th class="ca-20">cantidad ordenes</th>                
                <th class="ca-20">monto total</th>
            </tr>
          </thead>

          <tbody id="ordencompra-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="ordencompra_paginacion" class="pagination" >                            
        </div>


        <hr class="e20"/>


        <article id="ordencompra_acciones_lista">
            <pre></pre>
        </article>    

