
<article>
    

    <div class ="table-responsive-vertical">

        <table class="tableB" id="ordencomprapago-tabla" style="width: auto;" >
              <thead>
                <tr>

                    <th class="bl-4">nro cuota</th>
                    <th class="bl-8">fecha</th>
                    <th class="bl-8">monto cuota</th>
                    <th class="bl-8">saldo credito</th>
                </tr>
              </thead>

              <tbody id="ordencomprapago-tb">

              </tbody>

              <tfoot>
                <tr>
                </tr>
              </tfoot>
            </table>
    </div>

    
    
</article>



    <article id="ordencomprapagopago_acciones">
        <pre></pre>
    </article>    

