

<article>
            <form
            class="form"
            action="#"
            name="form_ordencomprapago"
            id="form_ordencomprapago"                    
            >
            
            <input                                                 
                type="hidden"
                name="id"
                id="ordencomprapago_id"
                value ="0"
                data-pertenece ="OrdenCompraPago"            
                />                

            <input                                                 
                type="hidden"
                name="ordencompra"
                id="ordencomprapago_ordencompra"
                value ="0"
                data-pertenece ="OrdenCompraPago"            
                />                

                
                       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="fecha">Fecha:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="date"
                            name="fecha"
                            id="ordencomprapago_fecha"
                            />
                    </div>
                </div>    
            </div>                

                 
               

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="monto_cuota">Monto Cuota:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="monto_cuota"
                            id="ordencomprapago_monto_cuota"
                            class="num"
                            />
                    </div>
                </div>    
                
            </div>
                
             
                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="credito_saldo">Credito Saldo:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="credito_saldo"
                            id="ordencomprapago_credito_saldo"
                            class="num"
                            />
                    </div>
                </div>    
                
            </div>
                                
                
            <br>

            <fieldset>
                
  <legend>Descuento correspondiente a</legend>
            
            
            <div class="f-line">
                
                
                <div class="f-campo">

                    <div class="bl-4">
                        <label for="mes">Mes:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="mes"
                            id="ordencomprapago_mes"
                            class="num"
                            />
                    </div>
                    
                    <div class="bl-4"></div>
                    
                </div>    
                
                
                <div class="f-campo">

                    <div class="bl-4">
                        <label for="agno">Año:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="agno"
                            id="ordencomprapago_agno"
                            class="num"
                            />
                    </div>
                    
                    <div class="bl-4"></div>
                    
                </div>    
                
                
  </fieldset>
                
            </div>
  
                
            
            
                

        </form>

</article>


<article id="ordencomprapago-acciones">
    <pre></pre>
</article>
                







