
<div class ="table-responsive-vertical">

        <table class="tableB" id="tipodescuento-tabla">
          <thead>
            <tr>
                <th class="ca-10">tipo descuento</th>
                <th class="ca-30">descripcion</th>
            </tr>
          </thead>

          <tbody id="tipodescuento-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="tipodescuento_paginacion" class="pagination" >                            
        </div>


        <hr class="e20"/>


        <article id="tipodescuento_acciones_lista">
            <pre></pre>
        </article>    

