



<hr class="e20"/>


<article>
    

    <div class ="table-responsive-vertical">

            <table class="tableB" id="nodescontado-tabla">
              <thead>
                <tr>

                    <th class="ca-10">socio</th>
                    <th class="ca-30">Nombre apellido</th>
                    <th class="ca-20">monto</th>
                    <th class="ca-20">Interes</th>
                    <th class="ca-20">Sub total</th>
                    <th class="ca-20">Pagado</th>
                    <th class="ca-20">Saldo</th>

                </tr>
              </thead>

              <tbody id="nodescontado-tb">

              </tbody>

              <tfoot>
                    
                    <tr>
                        <td colspan="2" >Totales </td>
                        
                        <td style="text-align: right;" id="sum_monto">0</td>
                        <td style="text-align: right;" id="sum_interes">0</td>
                        <td style="text-align: right;" id="sum_suma">0</td>
                        <td style="text-align: right;" id="sum_pagado">0</td>
                        <td style="text-align: right;" id="sum_saldo">0</td>
                        
                    </tr>                
                    

              </tfoot>
            </table>
    </div>

    
        <hr class="e20"/>

        <div id="nodescontado_paginacion" class="pagination" >                            
        </div>
    
    
</article>



        <article id="nodescontado_acciones_lista">
            <pre></pre>
        </article>    

