

<article>
            <form
            class="form"
            action="#"
            name="form_nodescontado"
            id="form_nodescontado"                    
            >
            
                
                
       

                <input                                                 
                    type="hidden"
                    name="id"
                    id="nodescontado_id"
                    class="num" 
                    />

                
       

                <input                                                 
                    type="hidden"
                    name="agno"
                    id="nodescontado_agno"
                    class="num" 
                    data-pertenece ="NoDescontado"     
                    />

                

                <input                                                 
                    type="hidden"
                    name="mes"
                    id="nodescontado_mes"
                    class="num" 
                    data-pertenece ="NoDescontado"     
                    />

                

        
        
            <div class="f-line">
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="socio">Socio:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="socio"
                            id="nodescontado_socio"
                            data-foreign ="Socio"
                            class="num" 
                            />
                    </div>
                    
                     
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span class="icon-more-horizontal" id="ico-more-nodescontado_socio" data-ind="0">                                    
                            </span>
                        </div>                        
                    </div>
                    
                    
                    <div class="bl-20 out">      
                        <output 
                            id="cliente_descripcion" >
                        </output>
                    </div>                          
                    
                    
                </div>    

            </div>                    

                                
                
                

                                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="monto">Monto:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="monto"
                            id="nodescontado_monto"
                            class="num"
                            />
                    </div>
                </div>    

                
                <div class="bl-4">
                </div>                
                
            </div>
                

            <div class="f-line" id="line_interes">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="interes">Interes:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="interes"
                            id="nodescontado_interes"
                            class="num"
                            />
                    </div>
                </div>    
                
            </div>
                
 
                

            <div class="f-line" id="line_suma">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="suma">Suma:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="suma"
                            id="nodescontado_suma"
                            class="num"
                            />
                    </div>
                </div>    
            </div>                
                
                

            <div class="f-line" id="line_pagado">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="pagado">Pagado:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="pagado"
                            id="nodescontado_pagado"
                            class="num"
                            />
                    </div>
                </div>    
            </div>                
                
                
                
            <div class="f-line" id="line_saldo">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="saldo">Saldo:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="saldo"
                            id="nodescontado_saldo"
                            class="num"
                            />
                    </div>
                </div>    
            </div>                
                
                
                
                

        </form>

</article>


<article id="nodescontado-acciones">
    <pre></pre>
</article>
                

<article id="nodescontado-reportes">
    <pre></pre>
</article>


<article id="nodescontado-tabuladores">
    <pre></pre>
</article>
                







