



        <hr class="e20"/>



<article>
    


    <div class ="table-responsive-vertical">

            <table class="tableB" id="nodescontado-tabla">
              <thead>
                <tr>

                    <th class="ca-10">socio</th>
                    <th class="ca-30">Nombre apellido</th>
                    <th class="ca-20">monto</th>
                    <th class="ca-20">Interes</th>
                    
                </tr>
              </thead>

              <tbody id="nodescontado-tb">

              </tbody>

              <tfoot>
                <tr>
                </tr>
              </tfoot>
            </table>
    </div>

    
        <hr class="e20"/>

        <div id="nodescontado_paginacion" class="pagination" >                            
        </div>
    
    
</article>



        <article id="nodescontado_acciones_lista">
            <pre></pre>
        </article>    

