
<article>
            <form
            class="form"
            action="#"
            name="form_casacomercial"
            id="form_casacomercial"                    
            >
            
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="casacomercial">Codigo:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="casacomercial"
                            id="casacomercial_casacomercial"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="Nombre">Nombre:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="casacomercial_nombre"                            
                            />
                    </div>
                </div>    
            </div>                    


                


                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="direccion">Direccion:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="direccion"
                            id="casacomercial_direccion"
                            />
                    </div>
                </div>    
            </div>

                                

                
                
                
                
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="telefono">Telefono:</label> 
                    </div>

                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="telefono"
                            id="casacomercial_telefono"
                            />
                    </div>
                </div>    
            </div>

                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="email">Email:</label> 
                    </div>

                    <div class="bl-18">
                        <input                                                 
                            type="text"
                            name="email"
                            id="casacomercial_email"
                            />
                    </div>
                </div>    
            </div>

                
                
                
                

        </form>

</article>

<article id="casacomercial-acciones">
    <pre></pre>
</article>
                


<article id="casacomercial-tabuladores">
    <pre></pre>
</article>
                







