

<h4>Extracto de Cuentas Actual</h4>

<article>
            <form
            class="form"
            action="#"
            name="form_cab"
            id="form_cab"                    
            >
            
                
                
        
            <div class="f-line">
                
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="socio">Socio:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="socio"
                            id="socio"
                            class="num" 
                            data-foreign ="Socio"
                            />
                    </div>
                    
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span 
                                    class="icon-more-horizontal" 
                                    id="ico-more-ordencompra_socio" 
                                    data-ind="0">                                    
                            </span>
                        </div>                        
                    </div>
                    
                    <div class="bl-20 out">      
                        <output 
                            id="socio_descripcion" >
                        </output>
                    </div>                          
                    
                    
                </div>    

            </div>                    

                                


                
                
                

        </form>

</article>


<article id="cab-acciones">
    <pre></pre>
</article>
                








